{% extends 'base.html' %}

{% block title %}
Doctors
{% endblock %}

{% block content %}

<h1 class="text-center text-primary"> Our Doctors </h1>
<hr>

<div class="container text-center bg-light">
    {% for i in data %}
    
    <div class="card text-center mx-3 my-3" style="width: 18rem;  display: inline-block;">
        <img src="{{i.doc_image.url}}" class="card-img-top" alt="..." style='height: 200px;'>
        <div class="card-body">
          <h5 class="card-title">Dr. {{i.doc_name}}</h5>
          <p class="card-text">{{i.doc_spec}}</p>
          <h6>{{i.doc_dep}} Department</h6>
        </div>
    </div>
    
    {% endfor %}

</div>



{% endblock %}